name: Deploy to Staging

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup SSH Keys
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.DEPLOY_SSH_KEY }}

      - name: Add server to known hosts
        run: |
          ssh-keyscan -H ${{ secrets.STAG_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy Laravel to Staging
        run: |
          ssh ${{ secrets.STAG_HOST }} "
            cd ${{ secrets.STAG_DIR }} &&
            git pull origin dev &&
            composer install --no-dev --optimize-autoloader &&
            cp .env.example .env &&
            php artisan key:generate &&
            php artisan migrate:fresh --seed --force &&
            php artisan storage:link &&
            php artisan optimize:clear &&
            php artisan optimize
          "
